## Finding Duplicates

In [1]:
# First I will import some libararies
import pandas as pd
import numpy as np

In [2]:
#  Then I will read an excel file as a data frame
df1=pd.read_excel('Sales_Customers.xlsx')

In [3]:
# Now, let's have a preview of the dataframe
df1.head()

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
0,1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,NaN,10092,Germany,030-3456789,030-0123456
1,2,Customer MLTDN,"Hassall, Mark",Owner,Avda. de la Constitución 5678,México D.F.,NaN,10077,Mexico,(5) 789-0123,(5) 456-7890
2,3,Customer KBUDE,"Strome, David",Owner,Mataderos 7890,México D.F.,NaN,10097,Mexico,(5) 123-4567,NaN
3,4,Customer HFBZG,"Cunningham, Conor",Sales Representative,7890 Hanover Sq.,London,NaN,10046,UK,(171) 456-7890,(171) 456-7891
4,5,Customer HGVLZ,"Higginbotham, Tom",Order Administrator,Berguvsvägen 5678,Luleå,NaN,10112,Sweden,0921-67 89 01,0921-23 45 67

In [4]:
# For the purpose of this project, I will grab a sample from the 'Sales_Customers' file 
df2 = df1.sample(n=15)

In [5]:
# not necessary, but I will preview the sample
df2.head()

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
81,82,Customer EYHKM,"Veninga, Tjeerd",Sales Associate,1234 DaVinci Blvd.,Kirkland,WA,10119,USA,(206) 555-0124,(206) 555-0133
21,22,Customer DTDMN,"Daly, Jim",Accounting Manager,"C/ Moralzarzal, 5678",Madrid,NaN,10080,Spain,(91) 890 12 34,(91) 567 89 01
48,49,Customer CQRAA,"Duerr, Bernard",Marketing Manager,Via Ludovico il Moro 6789,Bergamo,NaN,10106,Italy,035-345678,035-901234
28,29,Customer MDLWA,"Kolesnikova, Katerina",Marketing Manager,"Rambla de Cataluña, 8901",Barcelona,NaN,10081,Spain,(93) 789 0123,(93) 456 7890
69,70,Customer TMXGN,"Makovac, Zrinka",Owner,Erling Skakkes gate 2345,Stavern,NaN,10123,Norway,07-89 01 23,07-45 67 89

In [6]:
# Now I will join to two files
df3=pd.concat([df1, df2], ignore_index=True)

In [7]:
# Lets get a row count for the original file
df1.shape

(91, 11)

In [8]:
# And a row count for the sample file
df2.shape

(15, 11)

In [9]:
# Finally we will compare the row count for the combined files
df3.shape

(106, 11)

In [10]:
# We will add the two counts for confirmation
91 + 15

106

In [11]:
# Now let's create a seperate data frame to look at the duplicates
dupes=df3.loc[df3.duplicated(keep=False), :]

In [12]:
# Now I will sort the duplicated data by the column 'custid'
dupes.sort_values('custid')

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
9,10,Customer EEALV,"Culp, Scott",Accounting Manager,8901 Tsawassen Blvd.,Tsawassen,BC,10111,Canada,(604) 901-2345,(604) 678-9012
99,10,Customer EEALV,"Culp, Scott",Accounting Manager,8901 Tsawassen Blvd.,Tsawassen,BC,10111,Canada,(604) 901-2345,(604) 678-9012
105,16,Customer GYBBY,"Birkby, Dana",Sales Representative,Berkeley Gardens 0123 Brewery,London,NaN,10039,UK,(171) 234-5678,(171) 234-5679
15,16,Customer GYBBY,"Birkby, Dana",Sales Representative,Berkeley Gardens 0123 Brewery,London,NaN,10039,UK,(171) 234-5678,(171) 234-5679
20,21,Customer KIDPX,"Russo, Giuseppe",Marketing Assistant,"Rua Orós, 3456",Sao Paulo,SP,10096,Brazil,(11) 456-7890,NaN
104,21,Customer KIDPX,"Russo, Giuseppe",Marketing Assistant,"Rua Orós, 3456",Sao Paulo,SP,10096,Brazil,(11) 456-7890,NaN
21,22,Customer DTDMN,"Daly, Jim",Accounting Manager,"C/ Moralzarzal, 5678",Madrid,NaN,10080,Spain,(91) 890 12 34,(91) 567 89 01
92,22,Customer DTDMN,"Daly, Jim",Accounting Manager,"C/ Moralzarzal, 5678",Madrid,NaN,10080,Spain,(91) 890 12 34,(91) 567 89 01
94,29,Customer MDLWA,"Kolesnikova, Katerina",Marketing Manager,"Rambla de Cataluña, 8901",Barcelona,NaN,10081,Spain,(93) 789 0123,(93) 456 7890
28,29,Customer MDLWA,"Kolesnikova, Katerina",Marketing Manager,"Rambla de Cataluña, 8901",Barcelona,NaN,10081,Spain,(93) 789 0123,(93) 456 7890
101,31,Customer YJCBX,"Orint, Neil",Sales Associate,"Av. Brasil, 5678",Campinas,SP,10128,Brazil,(11) 567-8901,NaN
30,31,Customer YJCBX,"Orint, Neil",Sales Associate,"Av. Brasil, 5678",Campinas,SP,10128,Brazil,(11) 567-8901,NaN
103,42,Customer IAIJK,"Zaki, Amr",Marketing Assistant,2345 Oak St.,Vancouver,BC,10098,Canada,(604) 567-8901,(604) 234-5678
41,42,Customer IAIJK,"Zaki, Amr",Marketing Assistant,2345 Oak St.,Vancouver,BC,10098,Canada,(604) 567-8901,(604) 234-5678
48,49,Customer CQRAA,"Duerr, Bernard",Marketing Manager,Via Ludovico il Moro 6789,Bergamo,NaN,10106,Italy,035-345678,035-901234
93,49,Customer CQRAA,"Duerr, Bernard",Marketing Manager,Via Ludovico il Moro 6789,Bergamo,NaN,10106,Italy,035-345678,035-901234
100,53,Customer GCJSG,"Mallit, Ken",Sales Associate,South House 1234 Queensbridge,London,NaN,10061,UK,(171) 890-1234,(171) 890-1235
52,53,Customer GCJSG,"Mallit, Ken",Sales Associate,South House 1234 Queensbridge,London,NaN,10061,UK,(171) 890-1234,(171) 890-1235
98,66,Customer LHANT,"Voss, Florian",Sales Associate,Strada Provinciale 7890,Reggio Emilia,NaN,10038,Italy,0522-012345,0522-678901
65,66,Customer LHANT,"Voss, Florian",Sales Associate,Strada Provinciale 7890,Reggio Emilia,NaN,10038,Italy,0522-012345,0522-678901
95,70,Customer TMXGN,"Makovac, Zrinka",Owner,Erling Skakkes gate 2345,Stavern,NaN,10123,Norway,07-89 01 23,07-45 67 89
69,70,Customer TMXGN,"Makovac, Zrinka",Owner,Erling Skakkes gate 2345,Stavern,NaN,10123,Norway,07-89 01 23,07-45 67 89
81,82,Customer EYHKM,"Veninga, Tjeerd",Sales Associate,1234 DaVinci Blvd.,Kirkland,WA,10119,USA,(206) 555-0124,(206) 555-0133
91,82,Customer EYHKM,"Veninga, Tjeerd",Sales Associate,1234 DaVinci Blvd.,Kirkland,WA,10119,USA,(206) 555-0124,(206) 555-0133
97,87,Customer ZHYOS,"Ludwig, Michael",Accounting Manager,Torikatu 9012,Oulu,NaN,10045,Finland,981-123456,981-789012
86,87,Customer ZHYOS,"Ludwig, Michael",Accounting Manager,Torikatu 9012,Oulu,NaN,10045,Finland,981-123456,981-789012
87,88,Customer SRQVM,"Li, Yan",Sales Manager,"Rua do Mercado, 4567",Resende,SP,10084,Brazil,(14) 234-5678,NaN
96,88,Customer SRQVM,"Li, Yan",Sales Manager,"Rua do Mercado, 4567",Resende,SP,10084,Brazil,(14) 234-5678,NaN
102,91,Customer CCFIZ,"Vasa, Petr",Owner,ul. Filtrowa 6789,Warszawa,NaN,10068,Poland,(26) 234-5678,(26) 901-2345
90,91,Customer CCFIZ,"Vasa, Petr",Owner,ul. Filtrowa 6789,Warszawa,NaN,10068,Poland,(26) 234-5678,(26) 901-2345